@import 'custom-settings';

img{
    height:244px!important ;
    width: 100%!important;
}

a:-webkit-any-link {
    text-decoration: none!important;

}


.lineheight{
    line-height: 8px;
}

.probootstrap-footer{
    padding: 2em 0 0;
}

.probootstrap-cta{
    padding: 1em 0;
}



  .flexslider .slides>li.overlay:before{
      background: rgba(0,0,0,0)!important;
  }
  .flexslider, .flexslider .slides>li, .slider-height{
      height: 400px;
  }
  .flexslider .probootstrap-slider-text {
      margin-top: 200px;  
}    

#container{
    width: 400px;
    background: yellow;
}
#floated{
    float: left;
    width: 400px;
    background: red;
}

.modal-header .close{
	color: darken($brand-secondary,10%);
	opacity: 10;
}
.btn-default{
background-color: lighten($brand-secondary,10%);
}

.modal-footer{
border-top-color:$brand-secondary;
}

.modal-header{
border-bottom-color:$brand-secondary;
}














