img{
    height:244px!important ;
    width: 100%!important;
}

a:-webkit-any-link {
    text-decoration: none!important;

}


.lineheight{
    line-height: 8px;
}

.probootstrap-footer{
    padding: 2em 0 0;
}

.probootstrap-cta{
    padding: 1em 0;
}

.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }


  .flexslider .slides>li.overlay:before{
      background: rgba(0,0,0,0)!important;
  }
  .flexslider, .flexslider .slides>li, .slider-height{
      height: 400px;
  }
  .flexslider .probootstrap-slider-text {
margin-top: 200px;  
}    