@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

img {
  height: 244px !important;
  width: 100% !important;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.lineheight {
  line-height: 8px;
}

.probootstrap-footer {
  padding: 2em 0 0;
}

.probootstrap-cta {
  padding: 1em 0;
}

.flexslider .slides > li.overlay:before {
  background: transparent !important;
}

.flexslider, .flexslider .slides > li, .slider-height {
  height: 400px;
}

.flexslider .probootstrap-slider-text {
  margin-top: 200px;
}

#container {
  width: 400px;
  background: yellow;
}

#floated {
  float: left;
  width: 400px;
  background: red;
}

.modal-header .close {
  color: #c05507;
  opacity: 10;
}

.btn-default {
  background-color: #f78736;
}

.modal-footer {
  border-top-color: #f16b09;
}

.modal-header {
  border-bottom-color: #f16b09;
}

.probootstrap-flex-block .probootstrap-text {
  padding: 15px;
}

.probootstrap-flex-block {
  margin-top: -2em;
}
