body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info-window {
  font-family: 'Montserrat', sans-serif;
}

.info-content {
  color: #999;
}

.upMenu {
  background-color: #f3f6ca !important;
  border-color: orange;
  border-style: solid;
}

.probootstrap-page-wrapper {
  max-width: 100% !important;
}

.container {
  max-width: 100% !important;
}

.probootstrap-cta {
  padding: 0.1em 0;
}

.firstImage {
  padding: 0em 0;
}

.probootstrap-navbar .dropdown-menu {
  background-color: #f3f6ca !important;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a {
  color: black;
}

.about {
  text-align: justify;
  font-family: cursive;
  color: black;
}

.imgBorder {
  border-width: 2px;
  border-color: orange;
  border-style: groove;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 30em;
}

.bgimg {
  background: url("../images/back.jpg");
}

.probootstrap-section1.probootstrap-bg1:before {
  background: url("../images/back.jpg");
  opacity: 0.5;
}
